{% extends 'base.html' %}

{% block content %}
<a class="card-body" href="{% url 'accounts:profile' post.user.id %}">
    <h3>{{ post.user.first_name }}</h3>
</a>
<a class="" href="{% url 'accounts:profile' post.user.id %}">
    <p>@{{ post.user.username }}</p>
</a>

{% if request.user.id == post.user.id %}
<a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
{% endif %}

<p>{{ post.body }}</p>
<small>{{ post.created|date:"F j Y G:i" }}</small>
<hr>

{% if request.user.is_authenticated %}
<a href="{% url 'home:post_like' post.id %}" class="btn btn-primary col-md-2">Like {{ post.likes_count }}</a>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form><br>
{% else %}
<p class="alert alert-danger">Only logged in accounts can comment </p>
{% endif %}


{% for comment in comments %}
<div class="card bg-dark text-white">
    <a href="{% url 'accounts:profile' comment.user.id %}" class="card-body">
        <p class="card-header"> {{ comment.user }} - {{ comment.created |timesince }} </p>
    </a>
    <p class="card-body"> {{ comment.body }}</p>

    {% if request.user.is_authenticated %}
    <form action="{% url 'home:add_reply' post.id comment.id %}" method="post">
        {% csrf_token %}
        {{ reply_form.as_p }}
        <input type="submit" value="Send">
    </form>
    {% endif %}

    {% with replies=comment.rcomments.all %}
    {% for reply in replies %}
    <p class="bg-primary p-3 m-2">{{ reply.user }} <br> {{ reply.body }}</p>
    {% endfor %}
    {% endwith %}
</div><br>
{% empty %}
<div class="card bg-dark text-white">
    <p class="card-body">No comment yet</p>
</div>
{% endfor %}
{% endblock %}